
       <div class="product-showcase">
            <div class="product-showcase-pattern">
                <div class="container">
                    <div class="row">
                        <div class="span12 product-background">
                            <div class="row">
                                <div class="span2">
                                </div>
                                <div class="span8">
                                    <h1>Créez votre premier Site Web HTTP2</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="container">

            <div class="row">
                <div class="span12">
                    <!-- about us -->
                    <div class="about-us_2">
                        <h3>Git Repository</h3>
                        <h5>Présentement, nous supportons seulement que les site web public qui ont un domaine github.io</h5>
                        <p>Nous avons déjà débuté le travail afin de pouvoir supportez les "repository" privé depuis GitHub et BitBucket. Ceci serait en mesure de fournir d'avantage de functionalitées.</p>
                        <p></p>
                    </div>

                    <!-- about us -->
                    <div class="about-us_2">
                        <h3>Étape 1</h3>
                        <h5>Nous vous suggérons de joindre note channel Gitter</h5>
                        <p><i class="icon-slack-sign"></i> <a href="https://gitter.im/serverlesscdn/Lobby" target="_blank">Nous joindre sur Gitter</a>. Nous serons en mesure de vous aider a créer votre prochain site web 2.0.</p>
                        <p></p>
                    </div>

                    <!-- about us -->
                    <div class="about-us_2">
                        <h3>Étape 2</h3>
                        <h5>Création d'un compte</h5>
                        <p>Afin de créer votre site web HTTP2 Website avec votre propre certificats SSL pour votre nom de domaine, vous devez vous enregistrer a notre portal web en utilisant le lien suivant :<br/> <a href="https://portal.acentera.com/#signup" target="_blank">ACenterA Portal</a></p>

                        <p></p>
                    </div>


                    <!-- about us -->
                    <div class="about-us_2">
                        <h3>Étape 3</h3>
                        <h5>Créez un Projet</h5>
                        <p>Lorsque vous vous aurez enregistré, vous allez devoir créer votre premier projet tel afficher dans les images suivants.</p>
                        <p>
                        <div class="textcenter">
                          <img src="/assets/img/CreateWebsiteProj.jpg" class="mimg">
                        </div>
                        <br/><br/>
                        <div class="textcenter">
                          <img src="/assets/img/CreateWebsite02.jpg" class="mimg"/>
                        </div>
                        </p>
                    </div>


                    <div class="about-us_2">
                        <h3>Étape 4</h3>
                        <h5>Création de votre site web</h5>
                        <p><b>Attention: &nbsp;</b> Votre repository github.io ne doit pas être configurer avec un "Custom Domain". Si tel est le cas, nous vous conseillons de cloner votre repository git dans un nouveau repository afin de ne pas avoir d'interruption de services.</p>
                        <p>Lorsue vous êtes dans notre "ACenterA Portal", et a l'intérieur de votre project, dans la section de gauche vous devriez pouvoirs sélectionner <b>Websites</b>. Par le fait même vous devriez être en mesure de cliquer sur "Create Website" dans le centre de la page<br/>

                          <div class="textcenter">
                            <img src="/assets/img/CreateWebsite03.jpg" class="mimg"/>
                          </div>
                          <br/>

                          Remplissez les informations nécessares, tel qu'un nom qui indique quel est l'utilité de ce site web ainsi que l'url HTTPS de votre github.io public. Cela devrais ressemblé a l'image suivant:</p>
                          <br/>
                          <div class="textcenter">
                            <img src="/assets/img/CreateWebsite04.jpg" class="mimgsm"/>
                          </div>
                          <Br/><Br/>
                          <b>Note:</b>Le lien HTTPS de Github.io vous est accessible depuis votre repository GitHub dans la section "Settings".
                          <div class="textcenter">
                            <img src="/assets/img/GitHubSettingRepo.jpg" class="mim"/>
                          </div>
                          Trouvez la section de 'GitHub Pages'.
                          <div class="textcenter">
                            <img src="/assets/img/GitHubHttpsLink.jpg" class="mimgsm1"/>
                          </div>
                        <br/>
                    </div>

                    <div class="about-us_2">
                        <h3>Étape 5</h3>
                        <h5>Validation du Domaine (TXT)</h5>
                        <p>Puisque nous déservons plusieurs site web sous de multiple domaines, nous devons valider que le domaine vous appartient. Pour ce faire, nous vous demandons d'ajouter un record TXT a votre DNS pour votre domaine. Ceci nous permet de confirmer que le domaine est bien a vous et nous pouvons donc l'associer a votre compte. Il est important de ne jamais effacer ce record.</p>

                        <p><b>Note:</b> Remplacez <b>acentera.com</b> par votre nom de domaine a vous.<br/>Par exemple, si vous voulez bâtir : <b>wwww.acentera.com</b>, vous allez devoir créer un record TXT pour acentera-websites.<b>acentera.com</b>.

                          Pour ce faire, vous devez vous connectez chez votre hébergeur de DNS afin d'ajouter le record suivant : acentera-websites.<b>acentera.com</b>  TXT   "v=xxxxxxxxxxxxxxxxxxxxx". Remplacer la valeur par la valeur affiché lors de la création de votre siteweb. Les double appostrove " sont importants.

                          <br/>
                          <div class="textcenter">
                            <img src="/assets/img/CreateWebsite06.jpg" class="mimgsm"/>
                          </div>
                          <br/>
                          Avant de cliquer sur "Validate TXT", vous voudriez peut-être confirmer que votre DNS c'est bien propagé. Voici quelques commandes que vous pouvez utiliser.
                          <br/>
                          <br/>
                          Example en utilisant la commande Dig:
                          <br/>
                          dig  -t txt +short  acentera-websites.acentera.com<br/>
                          "v=c4ca4238a0b923820dcc509a6fXXXXXX"
                          <br/><br/>

                          Example avec nslookup:
                          <br/>
                          nslookup -type=TXT acentera-websites.acentera.com
                          <br/>

                          Vous devriez voir une valeur du genre "v=c4ca4238a0b923820dcc509a6fXXXXXX"
                          <br/>

                          <br/><b>Note: Dans votre cas, vous devriez avoir une valeur différente pour votre siteweb. Chaque compte a un hash unique.</b><br/>

                          <br/>
                          Lorsque vous avez cliqué sur le boutton "Validate TXT", si nous réussisons a confirmer votre domaine vous serez en mesure d'utiliser le boutton suivant pour la prochaine étape:<br/><br/>
                          <div class="textcenter">
                            <img src="/assets/img/CreateWebsiteBtn.jpg" class="mimgsm3"/>
                          </div>
                          <br/>
                          <br/>

                        </p>
                      </div>



                    <div class="about-us_2">
                        <h3>Étape 6</h3>
                        <h5>Changement du Domaine (CNAME)</h5>
                        <p>Lorsque le record TXT a bien été validé, nous avons pré-configuré votre site web et nous sommes prêts a héberger votre nouveau site web HTTP2 sécurisé avec votre propre nom de domaine.<br/>

                        <p>
                          Vous allez devoir vous connectez chez votre hébergeur de DNS, et ajouter un CNAME vers acentera-websites.acentera.com tel qu'afficher dans l'image suivant. Remplacer le TestWeb.web.acentera.com par votre propre domaine.
                          <div class="textcenter">
                            <img src="/assets/img/CreateWebsite07.jpg" class="mimgsm"/>
                          </div>
                          <br/>
                          <br/>Dépendament de votre configuration, cette étape pourrais prendre un certain temps.
                          <br/>
                          Avant de cliquer sur "Validate DNS Record", vous voudriez probablemetn confirmer le changements a l'aide des outils dig ou nslookup.
                          <br/>
                          <br/>
                          Lorsque le tout est prêt, vous devez simplemetn cliquer sur "Validate DNS Record" et nous allons créez le certificats SSL pour votre nom de domaine.
                        </p>

                        <br/>
                    </div>


                    <div class="about-us_2">
                        <h3>Félicitation</h3>
                        <h5>Partagé votre nouveau site web HTTP2 sécurisé.</h5>
                        <p>Si vous avez atteint cette étape, votre site web est maintenant complètement configurer sur notre platforme.. Vous pouvez alors visiter votre site web HTTP2 sécurisé avec votre propre nom de domaine .<br></p>
                        <p>
                          Après 5 minutes, si vous avez reçu du traffic web sur votre site vous devriez être en mesure de voir les statistiques de votre site web. Ces statistiques se rafraîchit a un interval d'environ 5 minutes. Voici un exemple des statistiques que vous obtiendriez.
                        </p>
                        <div class="textcenter">
                          <img src="/assets/img/Stats01.jpg" class="mimgsm"/>
                        </div>
                        <div class="textcenter">
                          <img src="/assets/img/Stats02.jpg" class="mimgsm"/>
                        </div>
                        <div class="textcenter">
                          <img src="/assets/img/Stats03.jpg" class="mimgsm"/>
                        </div>
                        <br/>
                    </div>


                </div>
            </div> <!-- end row -->

            <div class="row">
                <!-- as seen on -->
                <div class="span12 using-this">
		<!--
                    <h3>As Seen On</h3>
                    <div class="using-this-container">
                        <a class="using-this-google" href="#"></a>
                        <a class="using-this-pinterest" href="#"></a>
                        <a class="using-this-youtube" href="#"></a>
                        <a class="using-this-google" href="#"></a>
                        <a class="using-this-pinterest" href="#"></a>
                    </div>
		-->
                </div>
            </div> <!-- end row -->

        </div> <!-- end container -->
