
        <!-- Coming Soon -->
        <div class="product-showcase">
            <div class="product-showcase-pattern">
                <div class="container">
                    <div class="row">
                        <div class="span12 product-background">
                            <div class="row">
                                <div class="span6">
                                    <h1><strong>Bientôt disponible</strong></h1>
                                    <div class="product-description">
					<!--
                                        <div class="timer">
                                            <span class="days"></span> days /
                                            <span class="hours"></span> hours /
                                            <span class="minutes"></span> minutes /
                                            <span class="seconds"></span> seconds
                                        </div>
					-->
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="product-description product-description-right">
                                        <p>Êtes-vous prêts pour la révolution Web, simplicité tranquilité d'esprits pour seulement <b>0.89</b> cents par mois? Joignez-vous a notre channel Slack, pour avoir plus de détails.<br/>&nbsp;<br/></p>
					                                    <a class="butn" href="https://acentera.slack.com/messages/C5E4HN02W/">Joindre Slack</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content -->
        <div class="container">

            <div class="row">
                	<div class="span12" style="text-align:center;margin:auto;">
				<br/>
				<h1>Ressentez le site web 2.0</h1>
				<br/>
			</div>
<script>
   function frameLoaded() {
     $("#http2").attr('src', $("#http2").attr('_src'));

   }
   function frameCompleted() {
   }
</script>
<style>
.iframeh {

  overflow-y: hidden;
}
</style>


                	<div class="span1">
				&nbsp;
			</div>

                	<div class="span4" style="padding-left:5%">
					HTTP 1.1
					<br/>
			</div>
                	<div class="span2">
			</div>
                	<div class="span4">
					HTTP 2.0
					<br/>
			</div>
                	<div class="span1">
			</div>
                	<div class="span4">
			&nbsp;
			</div>
                	<div class="span2">
			</div>
                	<div class="span4">
			&nbsp;
			</div>

                	<div class="span1">
			</div>
                	<div class="span4" style="padding-left:5%">
			<iframe id="http1" src="https://acentera.github.io/test/iframe_content.html?http1" onload="frameLoaded()" scrolling="no" class="iframeh" width="400px" height="300px" frameBorder="0"></iframe>
			</div>
                	<div class="span2">
			</div>
                	<div class="span4">
			<iframe id="http2" src="" _src="https://www.serverlesscdn.com/test/iframe_content.html?http2" onload="frameCompleted()" class="iframeh" scrolling="no" width="400" height="300px" frameBorder="0"></iframe>
			</div>

	    </div>
	</div>

        <!-- Content -->
        <div class="container">

            <div class="row">
                <div class="span12">
                    <!-- about us -->
                    <div class="about-us_2">
                        <h3>À Propos de nous</h3>
                        <h5>Nous avons une décennie d'expérience en administration de site web performant. Nous avons traversé de nombreuses tendances et nous croyons que tout le monde mérite d'avoir un site Web performant. Vous croyez également que les géants vendent leur produits d'hébergement web a un prix trop élevé ? La technologie d'aujourd'hui a changé, ils doivent réfléchir à leur façon de travailler, c'est pourquoi nous pouvons vous fournir un prix abordable avec de meilleures performances.</h5>
                        <p></p>
                    </div>
                </div>
            </div> <!-- end row -->

            <div class="row">
                <!-- as seen on -->
                <div class="span12 using-this">
		<!--
                    <h3>As Seen On</h3>
                    <div class="using-this-container">
                        <a class="using-this-google" href="#"></a>
                        <a class="using-this-pinterest" href="#"></a>
                        <a class="using-this-youtube" href="#"></a>
                        <a class="using-this-google" href="#"></a>
                        <a class="using-this-pinterest" href="#"></a>
                    </div>
		-->
                </div>
            </div> <!-- end row -->

        </div> <!-- end container -->
